html {
    font-size: 100%;
}

body {
    background-color: #999999;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

A {
   color: white;
}
 
A:hover {
    color: black;
 }

button {
    color: #115555;
}

button:hover {
  outline: 2px solid gray ;
  border-radius: 2px;
  filter: saturate(200%);
}

/* Boite domaine (div) contenant les compétences */

#domaine {
    margin: 5px;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #115555;
    display:flex;
    flex-direction: row;
}

#nom_domaine {
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    flex: 1;
}

#competence {
    padding: 5px;
    flex: 1;
    border-left-style: solid;
    border-left-color: #999999;
}

#competence_gen {
    font-size: larger;
    font-weight: bold;
    padding: 5px;
    flex: 1;
    border-left-style: solid;
    border-left-color: #999999;
}

#nom_domaine_form {
    font-weight: bold;
    padding: 5px;
    flex: 1;
}

#competence_form {
    font-size: smaller;
    padding: 5px;
    flex: 1;
    border-left-style: solid;
    border-left-color: #999999;
}

#competence_gen_form {
    font-weight: bold;
    padding: 5px;
    flex: 1;
    border-left-style: solid;
    border-left-color: #999999;
}

#activites {
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #AAAAAA;
}

#generique {
    font-style: italic;
    color: white;
    margin: 5px 5px 5px 5px;
    min-width: 100%;
}


