html, body {
    background-color: #999999;
    color: white;
}

A:hover {
    color: black;
 }

#domaine {
    font-size:18px;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #115555;
}

#competence {
    font-size:14px;
    font-weight: normal;
    margin: 5px;
    padding: 5px;
}

#competence:hover {
    cursor: pointer;
}

.text_comp::before {
    content: "▶ ";
}

.text_comp_on::before {
    content: "▼ ";
}

#activites {
    font-weight: bold;
    font-size:12px;
    font-style: italic;
    color: white;
    margin: 5px;
    padding: 5px;
    display: none;
    flex-direction: row;
    border-radius: 5px;
    background-color: #999999;
}

#generique {
    font-weight: bold;
    font-size:12px;
    font-style: italic;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #999999;
}

#activite {
    font-weight: normal;
    font-size:12px;
    font-style: normal;
    color: #115555;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eeeeee;
}
