html {
    font-size: 100%;
}

body {
    background-color: #999999;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Boite domaine (div) contenant les compétences */

#domaine {
    margin: 5px;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #115555;
}


/* Boite (dépliable) compétence contenant le nom de la compétence (un h2) et les boites activités (des div) */

#competence {
    margin-bottom: 5px;
}

#competence:hover {
    cursor: pointer;
}

.text_comp::before {
    content: "▶ ";
}

.text_comp_on::before {
    content: "▼ ";
}

/* Boite des activités contenant l'activité générique et des exemples d'activités */

#activites {
    margin: 5px;
    padding: 5px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #999999;
}

#generique {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    color: white;
    margin: 5px 5px 15px 5px;
    min-width: 100%;
}

/* boite pour un exemple d'activité */

#activite {
    font-weight: normal;
    font-style: normal;
    color: #115555;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eeeeee;
    flex: 1;
}
